services:
  backend:
    build: ./backend
    image: anshumanprajapati/av-downloader-backend:latest
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: anshumanprajapati/av-downloader-frontend:latest
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - VITE_BACKEND_URL=https://unsummable-kinsley-unregistrable.ngrok-free.dev
    command: npm run dev -- --host